extends layout

block content
  p.info.box.fadeInUp.animated !{content}
  .container
    .one.half.triple-padded.bounceInRight.animated
      a.button.block.green.noicon
        h1.zero
          i.icon-code.icon-4x
          br
          | Essayer
    .one.half.triple-padded.bounceInRight.animated
      a.button.block.blue.noicon
        h1.zero
          i.icon-code.icon-4x
          br
          | En savoir plus